body {
    background: #FFF0E5;
}

h2,
h3 {
    font-size: 28px;
    font-weight: 500;
}

.sign-in img {
    width: 300px;
    padding-top: 20px;
}

.input-field {
    padding-top: 10px;
}

.section2 {
    padding-left: 10%;
}

.cart {
    height: 15%;
    background: white;
    margin: 3.5%;
}

.yellow,
.indigo {
    padding: 3%;
}

.yellow img,
.indigo img {
    width: 400px;
    padding-top: 12%;
}

span {
    font-size: 18px;
    font-weight: 500;
}

a {
    color: black;
}

.title {
    font-size: 18px;
}

.divider1 {
    height: 550px;
    border-right: 1.2px solid;
}

.divider2 {
    height: 0.1%;
    width: 100%;
    background: black;
}

@media (min-width: 1024px) {
    .sign-in {
        padding-top: 40px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 600px) {
    .divider1 {
        height: 0.1%;
        width: 100%;
        background: black;
    }
}

@media (max-width: 600px) {
    body {
        min-width: 600px;
    }
    nav {
        height: 200px;
    }
    .sign-in {
        padding-top: 300px;
    }
    .divider1 {
        height: 0.1%;
        width: 100%;
        background: black;
    }
    .yellow img,
    .indigo img {
        width: 200px;
        padding-top: 50%;
    }
}