body {
    background: #FFF0E5;
}

h2,
h3 {
    font-size: 28px;
    font-weight: 500;
}

a {
    color: black !important;
}

.nav-wrapper {
    background: #FFF0E5;
}

.nav-wrapper:hover {
    background: white;
    border-bottom: 1px solid black;
}

.sign-in img {
    width: 500px;
    height: 500px;
    padding-top: 100px;
}

.input-field {
    padding-top: 10px;
}

.sign-in {
    padding-top: 80px;
}

#email,
#password {
    background-color: white !important;
    border: 1px solid black !important;
}

.cart {
    background: white;
    width: 240px;
}

.cart p {
    padding-left: 30px;
}

.catalog {
    padding-left: 100px;
    padding-top: 60px;
}

.parent1 {
    background-image: url(https://static-assets.codecademy.com/assets/components/cards/explore-category-card/language/javascript.svg);
    background-position: left;
}

.parent2 {
    background-image: url(https://static-assets.codecademy.com/assets/components/cards/explore-category-card/language/python.svg);
    );
    background-position: left;
}

.parent3 {
    background-image: url(https://static-assets.codecademy.com/assets/components/cards/explore-category-card/subject/web-development.svg);
    background-position: right;
}

.parent4 {
    background-image: url(https://static-assets.codecademy.com/assets/components/cards/explore-category-card/subject/data-science.svg);
    background-position: right;
}

.parent1,
.parent2,
.parent3,
.parent4 {
    display: flex;
    height: 11.25rem;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 30px;
    border: 1px solid black;
}

.yellow,
.indigo {
    padding: 3%;
}

.yellow img,
.indigo img {
    width: 400px;
    padding-top: 12%;
}

span {
    font-size: 25px;
    font-weight: 550;
}

.title {
    font-size: 18px;
}

.divider1 {
    height: 550px;
    border-right: 1.2px solid;
}

.divider2 {
    height: 0.1%;
    width: 100%;
    background: black;
}

@media only screen and (max-width: 1024px) and (min-width: 600px) {
    .divider1 {
        height: 0.1%;
        width: 100%;
        background: black;
    }
    .parent1,
    .parent2,
    .parent3,
    .parent4 {
        height: 12.25rem;
        /*    width: 580px;
*/
    }
    .cart {
        background: white;
        width: 260px;
        height: 100px;
    }
    .sign-in img {
        width: 350px;
        height: 350px;
    }
}

@media (max-width: 600px) {
    body {
        min-width: 600px;
    }
    .nav-wrapper {
        background: white;
        border-bottom: 1px solid black;
    }
    .divider1 {
        height: 0.1%;
        width: 100%;
        background: black;
    }
    .parent1,
    .parent2,
    .parent3,
    .parent4 {
        height: 13.25rem;
        /*    width: 430px;
*/
    }
    .cart {
        background: white;
        width: 260px;
        height: 100px;
    }
    .yellow img,
    .indigo img {
        width: 200px;
        padding-top: 50%;
    }
}
